@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-p-900 text-p-100 select-none;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}
