@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.thing {
	position: relative;
	z-index: -1;
	border-radius: 13px;
	overflow: hidden;
	padding: 1px;
}

.thing::before {
	content: "";
	position: absolute;
	z-index: -2;
	left: -75%;
	top: -75%;
	width: 250%;
	height: 250%;
	background-color: #44403c;
}

.thing.animated::before {
	background-repeat: no-repeat;
	background-image: linear-gradient(100deg, rgba(68, 64, 60, 1) 30%, rgba(140, 140, 140, 1) 50%);
	animation: rotate 2s linear infinite;
}
